constraints: Diff ==0.3.0,
             HUnit ==1.2.5.2,
             HUnit-Diff ==0.1,
             ansi-terminal ==0.6.1.1,
             ansi-wl-pprint ==0.6.7.1,
             array ==0.4.0.1,
             async ==2.0.1.4,
             base ==4.6.0.1,
             bytestring ==0.10.0.2,
             codetest ==0.1.0.0,
             containers ==0.5.0.0,
             cpphs ==1.18.4,
             deepseq ==1.3.0.1,
             directory ==1.2.0.1,
             filepath ==1.3.0.1,
             ghc-prim ==0.3.0.0,
             groom ==0.1.2,
             haskell-src-exts ==1.15.0.1,
             integer-gmp ==0.5.0.0,
             mtl ==2.1.2,
             old-locale ==1.0.0.5,
             old-time ==1.1.0.1,
             optparse-applicative ==0.8.0.1,
             parsec ==3.1.3,
             polyparse ==1.9,
             pretty ==1.1.1.0,
             process ==1.1.0.2,
             regex-base ==0.93.2,
             regex-tdfa ==1.2.0,
             rts ==1.0,
             stm ==2.4.2,
             tagged ==0.7.2,
             tasty ==0.8.0.4,
             tasty-hunit ==0.8.0.1,
             text ==0.11.3.1,
             time ==1.4.0.1,
             transformers ==0.3.0.0,
             unbounded-delays ==0.1.0.7,
             unix ==2.6.0.1
